<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>   
    <extension
         point="org.eclipse.ui.editors">
      <editor
            name="LogAggregator"
            extensions="logagg"
            icon="icons/list.png"
            class="de.nubenum.app.plugin.logaggregator.parts.LogView"
            id="de.nubenum.app.plugin.logaggregator.parts.LogView">
      </editor>
    </extension>

	<extension point="org.eclipse.ui.newWizards">
	  <wizard
	      id="de.nubenum.app.plugin.logaggregator.wizard"
	      name="LogAggregator Configuration File"
	      class="de.nubenum.app.plugin.logaggregator.parts.NewConfigWizard"
	      icon="icons/list.png">
	    <description>Create a new example LogAggregator Config File</description>
	    <selection class="org.eclipse.core.resources.IResource" /> 
	  </wizard>
	</extension>
</plugin>
